<mat-card>
  <mat-card-header>Buch List</mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let buch of buches">
        <h3 mat-line>
          <a mat-button [routerLink]="['/bibmitarbeiter-edit', buch.id]">{{buch.name}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <button mat-fab color="primary" [routerLink]="['/buch-add']">Add</button>
  <button mat-fab color="theme" [routerLink]="['/home']">Cancel</button>
  <!-- <a mat-button routerLink="/home">Cancel</a>-->
</mat-card>
