<mat-card>
  <form #bibmitgliedForm= "ngForm" (ngSubmit)="save(bibmitgliedForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{ bibmitglied.name ? 'Edit' : 'Add'}} 7</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="bibmitglied.href">
      <mat-form-field>
        <input matInput placeholder= "Bibmitglied Name" [(ngModel)]="bibmitglied.name"
               required name="name" #name>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="bibmitglied.href">
      <mat-form-field>
        <input matInput placeholder= "Bibmitglied address" [(ngModel)]="bibmitglied.address"
               required name="address" #name>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!bibmitgliedForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(bibmitglied.id)"
              type="button">Delete</button>
      <a mat-button routerLink="/bibmitglied-list">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>

