<mat-card>
  <mat-card-header>
    <button mat-raised-button color="theme" [routerLink]="['/home']">Home</button>
    <button mat-raised-button color="primary" [routerLink]="['/buch-list']">Buch</button>
    <button mat-raised-button color="primary" [routerLink]="['/bibmitarbeiter-list']">Bibmitarbeiter</button>
    <button mat-raised-button color="primary" [routerLink]="['/bibmitglied-list']">Bibmitglied </button>
  </mat-card-header>
  <mat-card-content>
    <!--<form #formular="ngForm" (ngSubmit)="senden(formular)">
    </form>-->
  </mat-card-content>

</mat-card>
